.titleDisplay {
    font-size: 5vmax !important;
}

.subtitleDisplay {
    font-size: 4vmax !important;
}

.white-overlay {
    background-color: rgba(255, 255, 255, 0.1)
}

.carousel-height {
    width: 100% !important;
}

@media screen and (max-width: 850px) {
    .white-overlay {
        background-color: rgba(255, 255, 255, 0.4)
    }

    .carousel-height {
        width: auto !important;
    }
  }